{
  "plugins": ["@trivago/prettier-plugin-sort-imports","prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "semi": true,
  "printWidth": 120,
  "proseWrap": "never",
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/.*$",
    "^[../]",
    "^./",
    "\\.(css|scss|sass)$",
    "\\.(png|jpe?g|gif|svg|webp|ico)$"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
